/*paragraph セレクトスタイル*/
.is-style-dashborder{
 margin: 2em auto;
 padding: 1em;
 width: 100%;
 border: 3px dashed #c0c0c0; /*太さ・線種・色*/
 color: #909090; /* 文字色 */
 background-color: #fff; /* 背景色 */
 border-radius: 3px; /*角の丸み*/
}

.is-style-bg-red {
 position: relative;
 margin: 2em auto;
 padding: 1em;
 width: 100%; /* ボックス幅 */
 background: #006633; /* ボックス背景色 */
 color: #fff; /* 文章色 */
 border: 8px solid #b2771f; /* 枠線 */
 border-radius: 3px; /* 角の丸み */
 box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
}
.is-style-bg-red::before,
.is-style-bg-red::after {
 position: absolute;
 content: '';
 bottom: 0;
} 
.is-style-bg-red::before {
 width: 20px; 
 right: 10px;
 border: solid 3px #ff42a0; /*チョーク（ピンク） */
 border-radius: 3px 2px 0 2px;
}
.is-style-bg-red::after {
 width: 15px; 
 right: 45px;
 border: solid 3px #fff; /*チョーク（白） */
 border-radius: 8px 5px 2px 5px;
}

.is-style-point {
 position: relative;
 margin: 2em auto;
 padding: 15px 35px 15px 25px;
 width: 100%; /* ボックス幅 */
 background-color: #fff; /* ボックス背景色 */
 color: #555555; /* 文章色 */
 border: 1px solid #ccc; /* 枠線 */
 box-shadow: 1px 1px 1px #acacac; /* 影の色 */
}
.is-style-point::before {
 position: absolute;
 content: '';
 top: -15px;
 right: 10px;
 height: 55px;
 width: 15px;
 border: 3px solid #555555; /*クリップ色 */
 background-color: none;
 border-radius: 12px;
 box-shadow: 1px 1px 2px #999;
 transform: rotate(10deg);
 z-index: 1;
}
.is-style-point::after {
 position: absolute;
 content: '';
 top: 0px;
 width: 10px; 
 right: 20px;
 border: solid 5px #fff; /*背景色と同じ色にする*/
 z-index: 2;
}
