.marker_orange {
  background:linear-gradient(rgba(255,210,210,0) 60%, #ffd2a5 60%);
  color: #084d32;
  font-weight: bold;
}
.marker_blue {
  background:linear-gradient(rgba(165,205,205,0) 60%, #a5cdff 60%);
  color: #2a4400;
  font-weight: bold;
}
.s_text_red {
  color: #ff6666;
  font-weight: bold;
}
