.wp-block-four-4to6-four4to6-custom-block {
margin: 2em auto;
padding: 1em;
width: 100%;
color: #333333; /*文字色*/
background-color: #ffffff; /* 背景色 */
border: 1px  #CCC solid;
border-radius: 8px; /*角の丸み*/ 
box-shadow:inset 0px 11px 8px -10px #CCC,
inset 0px -11px 8px -10px #CCC; 
}
